{% extends "otree/Page.html" %}
{% load otree static %}
{% block title %}
    Start Counting!
{% endblock %}
{% block content %}
   <h1>
        Supergame {% subsession.sub_game %}, period {% subsession.period %}
   </h1>
   <style>
        h1 {text-align: center}
        h2 {text-align: right}
        td {text-align: center}
        tr {text-align: right}
   </style>
    <div class="container-sm" >
        <h2 id="feedback"></h2>
        <table class = "table table-hover table-bordered table-sm">
            <thread>
                <tr class = "table-dark table-sm">
                    <th class="col-sm-1" scope="col">#</th>
                    <th class="border-3 col-sm-1" scope="col">1</th>
                    <th class="border-3 col-sm-1" scope="col">2</th>
                    <th class="border-3 col-sm-1" scope="col">3</th>
                    <th class="border-3 col-sm-1" scope="col">4</th>
                    <th class="border-3 col-sm-1" scope="col">5</th>
                    <th class="border-3 col-sm-1" scope="col">6</th>
                    <th class="border-3 col-sm-1" scope="col">7</th>
                    <th class="border-3 col-sm-1" scope="col">8</th>
                    <th class="border-3 col-sm-1" scope="col">9</th>
                    <th class="border-3 col-sm-1" scope="col">10</th>
                </tr>
            </thread>
            <tbody id = "data_body"> </tbody>
        </table>
        <script>
            console.log("matrix: ", js_vars.matrix)
            console.log("zeros: ", js_vars.zeros)
            console.log("ones: ",js_vars.ones)
            function extract_values(string_data){
                let i = 0
                let j = i + 10
                let data = Array(15)
                let row_data = '';
                while (i < 150) {
                   row_data = string_data.slice(i, j)
                   data[i / 10] = Array(10).fill(0)
                   for (let k = 0; k < row_data.length; k++) {
                       data[i / 10][k] = ~~row_data[k]
                   }
                   i += 10
                   j += 10
               }
               return data
           }
           function buildTable(matrix){
                let table = document.getElementById('data_body')

                for (let i = 0; i < 15; i++){
                    let row = []
                        row =`<tr>
                                <th class = "table-bordered table-dark" scope="row">${i+1}</th>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][0]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][1]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][2]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][3]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][4]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][5]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][6]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][7]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][8]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][9]}</td>
                              </tr>`
                    table.innerHTML += row
                }
            }
            let data = extract_values(js_vars.matrix)
            let header = document.getElementById('feedback')
            buildTable(data)
            const correct = /.*Correct.*/
            const incorrect = /.*Incorrect.*/
            let feedback = js_vars.feedback
            console.log("feedback: ", feedback)
            console.log("feedback: ", feedback.match(correct) !== null)
            if(feedback.match(correct)){
                document.getElementById("feedback").classList.toggle('text-success')
            }else if(feedback.match(incorrect)) {
                document.getElementById("feedback").classList.toggle('text-danger')
            }else {
                document.getElementById("feedback").classList.toggle('text-info')
            }
            header.innerHTML += feedback
        </script>
        {% formfields %}
    </div>
{% endblock %}
