{% block title %}
{% endblock %}
{% block content %}
    <style>
        h1 {text-align: center}
        h3 {text-align: right}
        td {text-align: center}
        tr {text-align: right}
        th {text-align: center}
        li {text-align: left}
    </style>
    <h1> <i>Welcome!</i> </h1>

    <div class = "container-sm">
        <p class="text-start">
            <b>Rules:</b>
            <ul>
                <li>
                    Your job for the next 50 minutes is to be count the number
                    of zeros that you see in a 10x15 table <b><i>like the one you see below.</i></b>
                </li>
                <li>
                    Before you start you have the option to set a goal for the number of
                    responses you would think you can answer correctly within the time limit.
                    <ul>
                        <li>Simply hit the next button to not set a goal and the default
                            will be set.
                        </li>
                        <li>
                            Type your goal into the provided prompt to set a goal then press
                            the enter key.
                        </li>
                    </ul>
                </li>
                <li>
                    If you meet your goal before the time limit is reached you will have the
                    option to stop, or you can keep earning extra money!
                </li>
                <li>
                    If you enter the correct amount of 0s in the
                    box below the table you will receive a reward.<br>
                </li>
                <li>
                    There will be three stages:<br>
                    <table class = "table table-hover table-small table-bordered">
                        <tr>
                            <th class = "table-dark" colspan="3" scope = "colgroup">Stage</th>
                        </tr>
                        <tr>
                            <th class = "table-primary" colspan="1" scope = "colgroup">1</th>
                            <th class = "table-primary" colspan="1" scope = "colgroup">2</th>
                            <th class = "table-primary" colspan="1" scope = "colgroup">3</th>
                        </tr>
                         <tr>
                            <td class = "table-secondary">
                                <ul>
                                    <li class="text-info">Duration: 10 min</li>
                                    <li class="text-danger">Penalty:  -$0.25</li>
                                    <li class = "text-success">Reward: &nbsp;$0.25</li>
                                    <li>Default Goal: 1 table <br>per minute or 10 tables</li>
                                </ul>
                            </td>
                            <td class = "table-secondary">
                                <ul>
                                    <li class="text-primary">Duration: 20 min</li>
                                    <li class="text-danger">Penalty:  -$0.25</li>
                                    <li class = "text-success">Reward: &nbsp;$0.25</li>
                                    <li>Default Goal: 1 table <br>per minute or 20 tables</li>
                                </ul>
                            </td>
                            <td  class = "table-secondary">
                                <ul>
                                    <li class="text-primary">Duration: 20 min</li>
                                    <li class="text-danger">Penalty:  -$0.25</li>
                                    <li class = "text-success">Reward: &nbsp;$0.25</li>
                                    <li>Default Goal: 1 table <br>per minute or 20 tables</li>
                                </ul>
                            </td>
                          </tr>
                </table>

                </li>
            </ul>

        <b>Try to answer as many as possible!<br></b>
        </p>
        <table class = "table table-hover table-bordered table-sm">
            <thread>
                <tr class = "table-info table-sm">
                    <th class="col-sm-1" scope="col">#</th>
                    <th class="border-3 col-sm-1" scope="col">1</th>
                    <th class="border-3 col-sm-1" scope="col">2</th>
                    <th class="border-3 col-sm-1" scope="col">3</th>
                    <th class="border-3 col-sm-1" scope="col">4</th>
                    <th class="border-3 col-sm-1" scope="col">5</th>
                    <th class="border-3 col-sm-1" scope="col">6</th>
                    <th class="border-3 col-sm-1" scope="col">7</th>
                    <th class="border-3 col-sm-1" scope="col">8</th>
                    <th class="border-3 col-sm-1" scope="col">9</th>
                    <th class="border-3 col-sm-1" scope="col">10</th>
                </tr>
            </thread>
            <tbody id = "data_body"> </tbody>
        </table>
        <h3 class = "text-dark">
            You've earned {% player.payoff %} so far!
        </h3>
        <script>
        function generateData() {
            const R = 15, C = 10, randomizer = Math.random()
            let zeros = 0, ones = 0
            var data = Array(R)
            for (var i = 0; i < R; i++) {
                data[i] = Array(C).fill(0)
                for (var j = 0; j < C; j++) {
                    if (Math.random() < randomizer) {
                        data[i][j] = 0
                        zeros++
                    } else {
                        data[i][j] = 1
                        ones++
                    }
                }
            }
            console.log("Zeros: %s", zeros)
            console.log("Ones: %s", ones)

            return data
        }
        function buildTable(matrix){
                let table = document.getElementById('data_body')

                for (let i = 0; i < 15; i++){
                    let row = []
                        row =`<tr>
                                <th class = "border-3 table-bordered table-info table-hover" scope="row">${i+1}</th>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][0]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][1]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][2]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][3]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][4]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][5]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][6]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][7]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][8]}</td>
                                <td class = "table-secondary table-bordered border-3">${matrix[i][9]}</td>
                              </tr>`
                    table.innerHTML += row
                }
            }
            buildTable(generateData())
        </script>

    {% formfields %}
    {% next_button %}
    </div>
{% endblock %}

{% block global_scripts  %}
{% endblock %}
