/* !! Custom divs */
#game {
    background-color: #2C2A29;
    position: relative;
    width: 100%;
    padding: 8%;
    margin-top: 5%;

}
#game-table{
    margin-left: -5%;
}
#game-info{
    margin-top: 3%;
}
#game-info:hover{
    padding: 2%;
    background: #1a1919;
       -webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.67);
       -moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.67);
       box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.67);
       transition: all .2s ease-in-out;
       transform: scale(1.15);
       z-index:9999;
}
#circle-titles{
    font-size: 124%;
    padding-top: 5%;
    text-align: left;
    border-left: solid grey 1px;
    border-top: solid grey 1px;
    border-right: solid grey 1px;

}
#circles{
    border-left: solid grey 1px;
    border-right: solid grey 1px;
    border-bottom: solid grey 1px;
    padding-bottom: 5%;
}
#bot_container2{
    background: #212529;
    padding-top: 5%;
    border: solid grey 1px;
}

#feedback{
    padding: 1%;
    margin-left: 3%;
}

.blink {
    animation: animate 2s linear 3;
}
@keyframes animate{
    0%{opacity: 0}
    50%{opacity: 100}
    100%{opacity: 0}
}
