/* !! Basic css*/
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}
html, body {
  height: fit-content;
}
body {
    background: radial-gradient(#222, #000) no-repeat;
    color: white
}
h1 {text-align: left}
p {text-align: left}
h2 {text-align: left}
h3 {text-align: left}
td {text-align: center}
tr {text-align: right}